@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Quicksand');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-size: 16px;/*1em=16px*/
}

header{
	background-color:#FFED74;
	position: fixed;
	height: 160px;
	}

h1,h2{
	text-align: center;
}

nav {
	text-align: center;
	color: black;
	font-family: 'Quicksand', sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	padding: 20px;
	text-decoration: none;
	border: none;
	margin: 2em;
}

a:hover{
	background-color:#aaaaaa; 
}

img{
    width: 300px;
    height: auto;
	}

h1{
	font-family:'Playfair Display',serif; 
	font-size:4em;
	margin: 14px;
}

h2{
	font-family:'Playfair Display',serif; 
	font-size:2em;
}

a{
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
	color: black;
	margin: 1em;
	font-weight: 600
}

p{
	font-family: 'Quicksand', sans-serif;
	font-size: 1em;
	width: 20em;
	line-height: 1.5em;
}

hr{
	border:none;
	height:3px;
	background-color: black;
	width:10em;
	margin:1em auto;
}

.title{
	font-family:'Playfair Display',serif; 
	font-size:2em;
	text-transform:uppercase;
}

#Landingpage {
	background-image: url("../images/Farmhouse_living.jpg");
}

#Landingpage-button{
	text-align: center;
}

.gallerypics{
	width: 150px;
	height: auto;
	margin: 20px;
}
section {
	/* height:100vh; */
	border: 1px solid;
	padding: 5em 0;
}

footer{
	background-color: #FF957E;
}

#projects{
	background-color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
    display: block;
}

.homegallery{
	background-color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
}

#passion{
	background-color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
}

#ochres-approach{
	background-color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
}

#all-about-ochre{
	background-color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
}

#projects-in-detail{
	background-color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
}

#all_about_ochre{
	background-color:#FFB7CF;
	border: 1px black solid;
	padding: 20px;
	margin: 200px;
}

#left {
	background-color:violet;
	border: 1px black solid;
	padding: 20px;
	float:left;
	width: 30%;
}

#right{
	background-color:pink;
	border: 1px black solid;
	padding: 20px;
	float:right;
	width:62%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;