@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Quicksand');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-size: 16px;/*1em=16px*/
}

header{
	background-color:white;
	position: fixed;
	height: 135px;
	width: 100%;
	}

h1,h2{
	text-align: center;
}

h1{
	font-family:'Playfair Display',serif; 
	font-size:4em;
	margin: 14px;
	border:none;
}

h2{
	font-family:'Playfair Display',serif; 
	font-size:2em;
	margin: 14px;
	border:none;
}

nav {
	text-align: center;
	color: black;
	font-family: 'Quicksand', sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	padding: 0px;
	text-decoration: none;
	border: none;
	margin: 2em;
}

a:hover{
	background-color:#aaaaaa; 
}

img{
    width: 300px;
    height: auto;
	}

a{
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
	color: black;
	margin: 1em;
	font-weight: 600
}

p{
	font-family: 'Quicksand', sans-serif;
	font-size: 1em;
	width: 20em;
	line-height: 1.5em;
}



.title{
	font-family:'Playfair Display',serif; 
	font-size:2em;
	text-transform:uppercase;
}

.homegallery{
    padding: 20px;
   	padding-top: 200px;
   	padding-left: 10%;
   	padding-bottom: 100px;
   	float:right;
}

.gallerypics{
	width: 10%;
	height: auto;
	margin: 30px;
}

#projects{
	padding-left: 15%;
	padding-top: 20px;
	float:right;
}

.projectpics{
	width: 20%;
	height: auto;
	margin: 20px;
}

#all_about_ochre{
	float: right;
	margin-top: 100px;
}

#design_services{
	float: right;
}

.clearfix:after{
  	visibility: hidden;
    display: block;
    font-size: 0;
    height: 0;
    content:"HELLO";
    clear: both;