
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Quicksand');


*{
	padding: 0;
	margin: 0;
}


body{
	font-size: 16px;/*1em=16px*/
	background-color: #E0E3E9;
}

img{
    width: 300px;
    height: auto;
	}

h1,h2{
	font-family:'Playfair Display',serif 
}

a{
	font-family: 'Quicksand', sans-serif;

}

p{
	font-family: 'Quicksand', sans-serif;

}


